@import '../../scss/variable.module.scss';
.listCars{
    margin: $bigSpace 0;
    .itemContainer{
        margin: auto;
        width:95%;
        @media(min-width:$l){
            width: $max-width;
        }
    }
}